<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <!-- Посилання на ваші стилі CSS, наприклад, Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>User Details</h1>

    <!-- Кнопка для переходу на додавання нового користувача -->
    <div class="mt-3">
        <p><a href="/addUser">Add User</a></p>
    </div>

    <!-- Виведення списку користувачів -->
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Tasks</th>
            <th>Articles</th>
        </tr>
        </thead>
        <tbody>
        <!-- Вставте код Thymeleaf для виведення списку користувачів -->
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td>
                <ul>
                    <!-- Виведення списку завдань для кожного користувача -->
                    <li th:each="task : ${user.tasks}" th:text="${task.task}"></li>
                </ul>
            </td>
            <td>
                <ul>
                    <!-- Виведення списку статей для кожного користувача -->
                    <li th:each="article : ${user.articles}" th:text="${article.articleTitle}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>